<div class="box">
<div class="container">
<div class="row">

<div class="col-xs-3">
		<div class="info">
			<%= render 'layouts/notifications' %>
  		<h2>User info</h2>

          <%= render 'info', user: @user %>
    	</div>


<div class="newbook">
	<h2>New book</h2>
		<%= render 'books/new_book', book: @book %>
</div>
</div>


  <div class="col-xs-9">
	<h1>Books</h1>
	<table class='table table-hover table-inverse'>
		<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<th colspan="3"></th>
		</tr>
		</thead>


		<% @books.each do |book| %>
		<%= link_to user_path(@user.id) do %>
		<tbody>
		<tr>
		<td><%= attachment_image_tag book.user, :profile_image, :fill, 30, 30,fallback: "no_image.jpg",size:'30x30',format: 'no_image.jpg' %></td>
		<% end %>
		<td><%=link_to book.title, book_path(book.id) %></td>
		<td><%= book.body %></td>
		</td>
		</tr>
		</tbody>
		<% end %>
		</table>

  </div>
</div>
</div>
</div>

<div class="box">
<% if @user == current_user %>
  <div class="row">
    <h2>Your MAP</h2>
    <div id='map'></div>
  </div>
<% end %>

<script>
  var map;
  var marker;
  var geocoder;
  function initMap() {
     geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': "<%= @user.fruit_address %>"
     }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            map = new google.maps.Map(document.getElementById('map'), {
                  center: results[0].geometry.location,
                 zoom: 15
             });
           marker = new google.maps.Marker({
                 position: results[0].geometry.location,
                  map: map
             });
       } else {
            alert(status);
        }
     });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
</div>
